proyectoEPS/proyectoEPS-war/target/
proyectoEPS/proyectoEPS-ear/target/
proyectoEPS/proyectoEPS-ejb/target/
/proyectoEPS/proyectoEPS-rest/target/
/proyectoEPS/ejemploCompi2/nbproject/private/
/proyectoEPS/ejemploCompi2/build/
