<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>omega</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <filter>
        <filter-name> PrimeFaces FileUpload Filter </filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter </filter-class>
    </filter>
    <filter-mapping>
        <filter-name> PrimeFaces FileUpload Filter </filter-name>
        <servlet-name> Spring MVC Servlet </servlet-name>
    </filter-mapping>
    
    <welcome-file-list>
        <welcome-file>login.xhtml</welcome-file>
    </welcome-file-list>
    
    <security-constraint>
        <display-name>configurationEPS</display-name>
        <web-resource-collection>
            <web-resource-name>configurationEPS</web-resource-name>
            <url-pattern>/configuration/ConfigurationEPS.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Allowed users</description>
            <role-name>Coordinador_EPS</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>allCommon</display-name>
        <web-resource-collection>
            <web-resource-name>user</web-resource-name>
            <url-pattern>/user/users.xhtml</url-pattern>
            <url-pattern>/user/userProfile.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Allowed users</description>
            <role-name>Director</role-name>
            <role-name>Coordinador_EPS</role-name>
            <role-name>Supervisor_EPS</role-name>
            <role-name>Coordinador_Carrera</role-name>
            <role-name>Secretaria_EPS</role-name>
            <role-name>Estudiante</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>createUser</display-name>
        <web-resource-collection>
            <web-resource-name>createUser</web-resource-name>
            <url-pattern>/user/createUser.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Allowed users</description>
            <role-name>Director</role-name>
            <role-name>Coordinador_EPS</role-name>
            <role-name>Supervisor_EPS</role-name>
            <role-name>Secretaria_EPS</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>EPSCommittee</display-name>
        <web-resource-collection>
            <web-resource-name>EPSCommittee</web-resource-name>
            <url-pattern>/user/editEPSCommittee.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Allowed users</description>
            <role-name>Coordinador_EPS</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>createProcess</display-name>
        <web-resource-collection>
            <web-resource-name>createProcess</web-resource-name>
            <url-pattern>/process/createProcess.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Allowed users</description>
            <role-name>Estudiante</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>updateRequeriments</display-name>
        <web-resource-collection>
            <web-resource-name>updateRequeriments</web-resource-name>
            <url-pattern>/process/updateRequeriments.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Allowed users</description>
            <role-name>Estudiante</role-name>
            <role-name>Coordinador_Carrera</role-name>
            <role-name>Supervisor_EPS</role-name>
            <role-name>Coordinador_EPS</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>myProcesses</display-name>
        <web-resource-collection>
            <web-resource-name>myProcesses</web-resource-name>
            <url-pattern>/process/myProcesses.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Allowed users</description>
            <role-name>Estudiante</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>processesReview</display-name>
        <web-resource-collection>
            <web-resource-name>processesReview</web-resource-name>
            <url-pattern>/processes/processesReview.xhtml</url-pattern>            
        </web-resource-collection>
        <auth-constraint>
            <description>Allowed users</description>
            <role-name>Coordinador_EPS</role-name>
            <role-name>Supervisor_EPS</role-name>
            <role-name>Coordinador_Carrera</role-name>
        </auth-constraint>
    </security-constraint>    
    
    <security-constraint>
        <display-name>assignedProcesses</display-name>
        <web-resource-collection>
            <web-resource-name>assignedProcesses</web-resource-name>
            <url-pattern>/process/assignedProcesses.xhtml</url-pattern>            
        </web-resource-collection>
        <auth-constraint>
            <description>Allowed users</description>
            <role-name>Supervisor_EPS</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>project</display-name>
        <web-resource-collection>
            <web-resource-name>project</web-resource-name>
            <url-pattern>/project/project.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Allowed users</description>
            <role-name>Estudiante</role-name>
        </auth-constraint>
    </security-constraint> 
    
    <security-constraint>
        <display-name>projectReview</display-name>
        <web-resource-collection>
            <web-resource-name>projectReview</web-resource-name>
            <url-pattern>/project/projectReview.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Allowed users</description>
            <role-name>Coordinador_Carrera</role-name>
            <role-name>Coordinador_EPS</role-name>
            <role-name>Supervisor_EPS</role-name>
        </auth-constraint>
    </security-constraint> 
    
    <security-constraint>
        <display-name>advisorReviewer</display-name>
        <web-resource-collection>
            <web-resource-name>advisorReviewer</web-resource-name>
            <url-pattern>/process/advisorReviewer.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Allowed users</description>
            <role-name>Supervisor_EPS</role-name>
            <role-name>Estudiante</role-name>
        </auth-constraint>
    </security-constraint> 
    
    <security-constraint>
        <display-name>journal</display-name>
        <web-resource-collection>
            <web-resource-name>journal</web-resource-name>
            <url-pattern>/journal/journal.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Allowed users</description>
            <role-name>Estudiante</role-name>
        </auth-constraint>
    </security-constraint> 
    
    <security-constraint>
        <display-name>journalReview</display-name>
        <web-resource-collection>
            <web-resource-name>journalReview</web-resource-name>
            <url-pattern>/journal/journalReview.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Allowed users</description>
            <role-name>Coordinador_EPS</role-name>
            <role-name>Supervisor_EPS</role-name>
        </auth-constraint>
    </security-constraint> 
    
    <error-page>
        <!-- Forbidden directory listing -->
        <error-code>403</error-code>
        <location>/error/error-403.xhtml</location>
    </error-page> 
    <error-page>
        <!-- Missing resource -->
        <error-code>404</error-code>
        <location>/error/error-404.html</location>
    </error-page>  
    
    <security-role>
        <role-name>Director</role-name>
    </security-role>
    <security-role>
        <role-name>Coordinador_EPS</role-name>
    </security-role>
    <security-role>
        <role-name>Supervisor_EPS</role-name>
    </security-role>
    <security-role>
        <role-name>Coordinador_Carrera</role-name>
    </security-role>
    <security-role>
        <role-name>Secretaria_EPS</role-name>
    </security-role>
    <security-role>
        <role-name>Estudiante</role-name>
    </security-role>
    
</web-app>