/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/06/2020, 19:06:36
    Author     : teodoro
*/
.login{
    height: 100%;
    width: 100%;
    position:static;
    padding-left: 0px;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bg-modal{
    width:98%;  
    position:absolute;
    justify-content: center;
    align-items: center;
}
.frmLogin{
    width: 500px;
    height: 300px;
    text-align: center;
}
#inputLogin{
    width: 80%;
    display: block;
    margin: 15px auto;
}
#dlgReset{
    min-width: 500px;
    min-height: 300px;
    text-align: center;
}
.disabled-row {
    background-color: rgba(220, 20, 60,0.5);
    background-image: none;
    color: #000000;
}
.enabled-row {
    background-color:rgba(20, 219, 80,0.3);
    background-image: none;
    color: #000000;
}
.center {
    width:90%;  
    position:absolute;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
